.App {
    text-align: center;
  }
  
  #home_background{
    background-image: url('../img/sky.jpg');
    height: 100vh;
    width: 100vw;
  }
  
  .react-switch{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 20px;
  }
  
  #input-city{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #submit-city{
    display: flex;
    align-items: center;
    justify-content: center;
  
    margin-top: 20px;
  }
  
  #theTitle{
    color: pink;
    font-size: 40px;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .Title {
    
  }
  
  .output{
    display: flex;
    align-items: center;
    justify-content: center;
  
    margin-top: 20px;

    white-space: pre-line;
  }
  
  .rectangle{
    display: inline-block;
    width: 700px;
    height: 400px;
    background-color:rgba(250, 250, 250, 0.8);
    
    margin-top: 40px;
  }
  
  .info-p{
    word-wrap: break-word;
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  